<div class="container"
     data-controller="search-wigs">
  <%= render 'shared/searchbar' %>
  <%# <%= render 'shared/wigs-map' %> %>
  <div data-search-wigs-target="wigsContainer">
    <%= render 'shared/wigcard', wigs: @wigs %>
  </div>
</div>
