<div class="container"
     data-controller="search-wigs">
  <%= render 'shared/searchbar' %>
  <div class="flex gap-x-8">
    <div data-search-wigs-target="wigsContainer">
      <%= render 'shared/wigscard', wigs: @wigs %>
    </div>
    <%= render 'shared/wigs-map' %>
  </div>
</div>
