<div class="container"
     data-controller="search-wigs">

  <%= render 'shared/searchbar' %>

  <div class="flex flex-col lg:flex-row-reverse gap-8 lg:gap-4">
    <% if @wigs.empty? %>
    <div class="w-full flex justify-center items-center py-5">
      <p class="text-3xl font-bold font-kaushan text-primary">There are nos results for your search !</p>
    </div>
    <% else %>
    <%= render 'shared/wigs-map' %>
    <div data-search-wigs-target="wigsContainer">
      <div class="grid place-items-center grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-y-12">
        <%= render 'shared/wigscard', wigs: @wigs %>
      </div>
    </div>
    <% end %>

  </div>
</div>
