<div class="container"
     data-controller="search-wigs">
  <%= render 'shared/searchbar' %>
  <%# <%= render 'shared/wigs-map' %> %>
  <div data-search-wigs-target="wigsContainer">
    <% if @wigs.empty? %>
      <p>No wigs posted yet</p>
    <% else %>
      <%= render 'shared/wigscard', wigs: @wigs %>
    <% end %>
  </div>
</div>
