
<div class="container"
     data-controller="search-wigs">
  <%= render 'shared/searchbar' %>
  <%= render 'shared/wigcard' %>
  <p><%= link_to "Create new wig", new_wig_path %></p>
  <%= render 'shared/button' %>
</div>
