
<div class="container"
     data-controller="search-wigs">
  <%= render 'shared/searchbar' %>
  <div data-search-wigs-target="wigsContainer">
    <%= render 'shared/wigcard', wigs: @wigs %>
  </div>
  <p><%= link_to "Create new wig", new_wig_path %></p>
  <%= render 'shared/button' %>
</div>
