<%= render "shared/wigcard_show" %>
<h2><%= link_to "Update this Wig", edit_wig_path(@wig) %></p>
<%= link_to "Delete",
  wig_path(@wig),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%= render 'shared/reviews', wig: @wig %>
