<h1>Wig details</h1>
<p>Your wig name: <%= @wig.name %></p>
<h2><%= link_to "Update this Wig", edit_wig_path(@wig) %></p>
<%= link_to "Delete",
  wig_path(@wig),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
