<div class="flex  justify-center ">
  <div class="max-h-64 overflow-auto my-2 w-full">
    <% @bookings.each do |booking| %>
      <article class="max-h-48 overflow-auto">
        <div class="flex items-start gap-4 p-3 mb-3 bg-white border-2 border-gray-200 rounded-lg shadow-md">
          <!-- Image de la wig -->
          <%= cl_image_tag booking.wig.wig_image.key, class: "object-contain rounded-full h-24 w-24 bg-transparent shadow-lg shadow-black-500/50" %>
          <div class="font-medium">
            <h4><%= booking.wig.name.capitalize %></h4>
            <p>Starts on the <%= booking.start_time.strftime("%d/%m/%Y")  %></p> <!-- Affichage de la date de début -->
            <p>Ends on the <%= booking.end_time.strftime("%d/%m/%Y")  %></p> <!-- Affichage de la date de fin -->
          </div>
        </div>
      </article>
    <% end %>
  </div>
</div>
