<div class="w-full shadow-top h-[8vh] bg-slate-200 flex flex-col justify-between">
    <div class="w-full h-[1px] bg-slate-600"></div>

    <div class="w-full flex flex-col py-4 justify-center items-center">
        <p class="text-sm text-gray-600">
            &copy; <%= Date.today.year %> HairBnB. All rights reserved.
        </p>
        <p class="text-sm text-gray-600">
            Made with ❤️ by
            <a href="https://github.com/lea3738" class="hover:underline text-primary"> 
                Léa,
            </a>
            <a href="https://github.com/remyShift" class="hover:underline text-primary"> 
                Rémy,
            </a>
            <a href="https://github.com/Wael-Dev52" class="hover:underline text-primary"> 
                Waël,
            </a>
            <a href="https://github.com/puts-HIROSIE" class="hover:underline text-primary"> 
                Rémi.
            </a>
        </p>
    </div>

</div>
