<div class="flex flex-col items-start justify-center gap-2">
    <h2 class="text-xl font-bold">
        <%= wig.name %>
    </h2>

    <p class="text-sm text-slate-600">
        <%= wig.address %>
    </p>

    <a href="<%= wig_path(wig) %>" class="text-sm font-bold text-primary hover:text-heavyprimary hover:underline">
        View
    </a>
</div>

