<div id="overlay"
    class="w-full h-full fixed inset-0 z-10 hidden justify-center items-center bg-black bg-opacity-50 transition-all duration-300 ease-in-out opacity-0"
    data-toggle-login-target="overlay"
    data-action="click->toggle-login#closeOnOverlayClick">

    <%= render "shared/modal-signup", resource: @resource, resource_name: @resource_name %>

    <%= render "shared/modal-login", resource: @resource, resource_name: @resource_name %>
</div>
