
<div class="flex items-center justify-center">
  <div class="my-8 max-h-64 overflow-auto w-1/2">
    <% @wig.reviews.each do |review| %>
      <article class="max-h-48 overflow-auto">
        <div class="flex items-center mb-4">
          <!-- Image de l'utilisateur -->
          <img class="w-10 h-10 me-4 rounded-full" src="https://imgs.search.brave.com/9TuWy5Tv_HSV5j0UXiUqPvXoUxuSrl65waVmklOH9OM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMud2lraWEubm9j/b29raWUubmV0L2hl/cm9lcy1mci9pbWFn/ZXMvYS9hNC8yNTBw/eC1OZXNzX1NTQjQu/cG5nL3JldmlzaW9u/L2xhdGVzdD9jYj0y/MDIwMTIwODEzMDI1/MCZwYXRoLXByZWZp/eD1mcg">
          <div class="font-medium">
            <p><%= review.user.first_name %></p> <!-- Affichage du prénom de l'utilisateur -->
          </div>
        </div>
        <div class="flex items-center mb-1 space-x-1 rtl:space-x-reverse">
          <!-- Affichage des étoiles (ici 4/5) -->
          <% rating = review.rating.round %> <!-- Arrondir la note -->
          <% rating.times do %>
            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
              <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
          <% end %>

          <% (5 - rating).times do %>
            <svg class="w-4 h-4 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
              <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
          <% end %>

          <h3 class="ms-2 text-sm font-semibold text-gray-900">La best perruque ever</h3> <!-- Titre de la review -->
        </div>
        <p class="mb-2 text-gray-500"><%= review.comment %></p> <!-- Contenu de la review -->

        <aside>
          <p id="helpful-count" class="mt-1 text-xs text-gray-500">19 people found this helpful</p>
          <div class="flex items-center mt-3">
            <%# <button id="helpful-button" class="px-2 py-1.5 text-xs font-medium text-white focus:outline-none bg-primary rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary focus:z-10 focus:ring-4 focus:ring-gray-100 mx-4">
              Helpful
            </button> %>
          </div>
        </aside>
      </article>
    <% end %>
  </div>
<<<<<<< HEAD
=======
</div>
>>>>>>> 9a81fabe63387b76ae95d6be11a07af67866cbe4
</div>
