  <div class="w-full h-[50vh] lg:w-1/2 lg:h-[80vh]"
       id="wigs-map"
       data-controller="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
