@tailwind base;
@tailwind components;
@tailwind utilities;

a:focus {
  outline: none !important;
}

input:focus {
  outline: none !important;
  @apply ring-primary ring-2 !important;
}

.btn {
  @apply inline-flex items-center px-3 py-2 text-sm font-bold text-white bg-primary hover:bg-heavyprimary border-b-4 border-heavyprimary hover:border-heavyprimary rounded;
}

.btn-photo {
  @apply text-sm text-center font-bold bg-blue-500 text-white rounded-md px-4 py-2 cursor-pointer hover:bg-blue-600 border-b-4 border-b-blue-600 hover:border-blue-600 transition-colors duration-300;
}

h1 {
  @apply text-2xl md:text-3xl font-bold font-kaushan text-primary;
}

.mapboxgl-ctrl-geocoder {
  @apply flex flex-col gap-2;
}

.mapboxgl-ctrl-geocoder--pin-right {
  @apply hidden;
}

.mapboxgl-ctrl-geocoder input {
  @apply w-[80vw] md:w-[50vw] rounded-md p-2 focus:border-primary focus:outline-none;
}

.mapboxgl-ctrl-geocoder svg {
  @apply hidden;
}


.mapboxgl-popup-content {
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.1);
}
